@import "tailwindcss";

/* Fuente global */
body {
  font-family: "Montserrat", sans-serif;
}

/* ============================
       SCROLL INFINITO
   ============================ */

/* Animación hacia la izquierda */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Contenedor animado hacia la izquierda */
.animate-scroll {
  animation: scroll 20s linear infinite;
  will-change: transform;
}

/* Contenedor animado hacia la derecha */
.animate-scroll-reverse {
  animation: scroll 20s linear infinite reverse;
  will-change: transform;
}
